.header-inner {
   display: flex;
   height: 100px;
   background-color: #265847;
   background-image: url('../images/header/bg-header-small.jpg');
   background-position: center;
   background-size: cover;
   color: #FFF;
}